.btn {
    display: inline-flex;
    align-items: center;
    column-gap: 2.8rem;

    &_white {
        .btn__txt {
            color: $white;
        }

        .i-btn {
            background-color: $white;

            .i-btn__icon {
                color: $blue;
            }
        }
    }

    &__txt {
        @media (max-width: 48em) {
            font-size: 2.4rem;
            line-height: 3.4rem;
        }
    }

    @media (max-width: 48em) {
        column-gap: 3.2rem;
    }

    @media (any-hover: hover) {
        &:hover {
            .i-btn__icon {
                transform: translateX(1rem);

                &.i-btn_prev {
                    transform: rotate(180deg) translateX(1rem);
                }
            }
        }
    }
}

.i-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 7.2rem;
    width: 7.2rem;
    height: 7.2rem;

    background-color: $blue;

    transition: background-color 0.3s ease;

    &_white {
        background-color: $white;

        .i-btn__icon {
            color: $black;
        }
    }

    @media (max-width: 48em) {
        flex: 0 0 10rem;
        width: 10rem;
        height: 10rem;
    }

    &__icon {
        width: 2.2rem;
        height: 2.2rem;

        color: $white;

        transition:
            transform 0.3s ease,
            color 0.3s ease;

        @media (max-width: 48em) {
            width: 3.6rem;
            height: 3.6rem;
        }
    }

    &_prev,
    &_next {
        @media (any-hover: hover) {
            &:hover {
                .i-btn__icon {
                    transform: translateX(1rem);

                    &.i-btn_prev {
                        transform: rotate(180deg) translateX(1rem);
                    }
                }
            }
        }
    }

    &_gray {
        background-color: #e9e9e9;

        .i-btn__icon {
            color: $black;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: $blue;

                .i-btn__icon {
                    color: $white;
                }
            }
        }
    }
}

.slider-nav {
    display: flex;
    column-gap: 1.6rem;

    .i-btn_prev {
        transform: rotate(180deg);
    }
}
