<div class="header-menu">
    <div class="header-menu__container container">
        <div class="header-menu__body"></div>
        <div class="header-menu__footer">
            <ul class="header-menu__socials">
                <li class="header-menu__social">
                    <a href="#" target="_blank" class="header-menu__social-icon-wrap">
                        <svg class="header-menu__social-icon"><use href="#ig-svg"></use></svg>
                    </a>
                </li>
                <li class="header-menu__social">
                    <a href="#" target="_blank" class="header-menu__social-icon-wrap">
                        <svg class="header-menu__social-icon"><use href="#tg-svg"></use></svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
