<header class="header">
    <div class="header__container container">
        <a href="/" class="header__logo-wrap">
            <img class="header__logo" src="./assets/images/logo.svg" alt="" />
            <img class="header__logo header__logo_black" src="./assets/images/logo-black.svg" alt="" />
        </a>
        <nav data-da=".header-menu__body,768,2" class="header__nav">
            <a href="#" class="header__nav-link">Каталог</a>
            <a href="#" class="header__nav-link">О компании</a>
            <a href="#" class="header__nav-link">Доставка и оплата</a>
            <a href="#" class="header__nav-link">Отзывы</a>
            <a href="#" class="header__nav-link">Контакты</a>
        </nav>
        <a data-da=".header-menu__footer,768,first" href="tel:88001110000" class="header__tel"
            >8 800 111 00-00</a
        >
        <ul data-da=".header-menu__body,768,first" class="header__actions">
            <li class="header__action">
                <button type="button" class="header__action-inner">
                    <span class="header__action-icon-wrap">
                        <svg class="header__action-icon"><use href="#search-svg"></use></svg>
                    </span>
                    <span class="header__action-txt">Поиск</span>
                </button>
            </li>
            <li class="header__action">
                <button type="button" class="header__action-inner">
                    <span class="header__action-icon-wrap">
                        <svg class="header__action-icon"><use href="#fav-svg"></use></svg>
                    </span>
                    <span class="header__action-txt">Корзина</span>
                </button>
            </li>
            <li class="header__action">
                <button type="button" class="header__action-inner">
                    <span class="header__action-icon-wrap">
                        <svg class="header__action-icon"><use href="#cart-svg"></use></svg>
                    </span>
                    <span class="header__action-txt">Избранное</span>
                </button>
            </li>
        </ul>
        <button type="button" class="header__hamburger">
            <span class="header__hamburger-icon-wrap">
                <svg class="header__hamburger-icon"><use href="#hamburger-svg"></use></svg>
                <svg class="header__hamburger-icon header__hamburger-icon_close">
                    <use href="#cross-svg"></use>
                </svg>
            </span>
        </button>
    </div>
    <include src="./components/_header-menu.html"></include>
</header>
