// ---- variables

// colors
$black: #29292d;
$blue: #134baf;
$lightGray: #e9e9e9;
$bg: #f7f7f7;
$darkGray: #90caff24;
$dark: #1c1c1f33;
$white: #ffffff;
$red: #ff4949;

// ----- fonts

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// local fonts
@import './fonts';

// ----- base styles

// base scss file
@import './set';

// html, body
html.lock {
    overflow: hidden;
    touch-action: none;
}
html,
body {
    overflow-x: clip;
}

// main
main {
    position: relative;

    flex: 1 1 auto;
}

// wrapper
.wrapper {
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    max-width: 1920px;
    height: 100%;

    user-select: none;
}

._desktop-only {
    @media (max-width: 48em) {
        display: none;
    }
}

._mobile-only {
    @media (min-width: 48em) {
        display: none;
    }
}

// swiper fade fix
.swiper-fade {
    .swiper-slide {
        opacity: 0 !important;
        visibility: hidden !important;
        transition:
            opacity 0.8s ease,
            visibility 0.8s ease;
        &.swiper-slide-active {
            opacity: 1 !important;
            visibility: visible !important;
        }
    }
}

// ----- imports

// header / footer
@import './sections/header';
@import './sections/footer';

// ui
@import '../ui/ui';

@import './dev/vzmsk1';
@import './dev/markusDM';
